
<div class="spot-user-option">

  <% if current_user.id == @spot.user_id %>
  <div id="show-user-buttons">
    <button id="show-edit-button"><%= link_to "Edit", edit_spot_path(@spot) %></button>
    <button id="show-delete-button"><%= link_to "Delete", spot_path(@spot), method: :delete,data: {confirm: 'Delete your spot?'}%></button>
    <% end %>
  <% if current_user.id != @spot.user_id %>
    <%if @spot.followed_by?(current_user)%>
      <p><%= render 'follows/spot_unfollow_option' %></p>
    <% else %>
      <p><%= render 'follows/spot_follow_option' %></p>
    <% end %>
    <% end %>
  </div>
</div>
