<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <body>
    <div class="bkg-animated">
      <div class="home-logo">LNCH BX</div><br>
      <div class="button-container">
        <div class="button">SIGN UP</div><br>
        <div class="button">LOGIN</div>
      </div>
</div>

  </body>
</html>
