
  <div>
    <%= form_tag unfollow_spot_path(id: @spot.id), method: :post, data: {confirm: 'You monster.'}, remote: true do  %>
    <%= button_tag 'Leave Spot', :class => 'btn btn-danger' %><% end %>
  </div>
