.text
{
  text-align: center;
}
#all-spots
{
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: white;
  width: 30%;
  margin: auto;
  border-radius: 5px;
}
