.text
{
  text-align: center;
}
#all-spots
{
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: white;
  width: 50%;
  border-radius: 5px;
  margin: 0px;

}
h1 {
  font-size: 50px;
  padding: 20px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.user-buttons {
  padding: 20px;
}

#form-group
{
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 1px 1px 1px 2px #000000;
  background-color: white;
  width: 43%;
  margin: auto;
  border-radius: 10px;
}
.form{
  padding: 10px;
  text-align: center;
  margin: auto;

}
#avatar
{
  margin-left: 30%;
}

#spot-followers {
  padding: 20px;
}

a {
  font-size: 30px;
}

.spot-title-time {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 20px;
}
.card-total {
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
  width: 75%;
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body {
  padding: 30px;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
