/*
*= require jquery-ui
*/

.text
{
  text-align: center;
}

h1 {
  font-size: 50px;
  padding: 20px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.user-buttons {
  padding: 10px;
}

#form-group
{
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 1px 1px 1px 2px #000000;
  background-color: white;
  width: 43%;
  margin: auto;
  border-radius: 10px;
}
.form{
  padding: 10px;
  text-align: center;
  margin: auto;
}
#avatar
{
  margin-left: 30%;
}
