// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments
{
  margin-top: 15px;
}
.red
{
  color: white;
  background-color: red;
}
#comment-created-at{
padding:10px;
float: right;
}
#each-comment{
padding: 10px;
}
#comments-content{
float:left;
display: flex;
flex-direction: row;

}
#comment-body {
  padding: 10px;
  float:left;
  width: 80%;
  word-wrap:break-word;
}
.comments-flex {
  display: flex;
  flex-direction: column;
}

#UserComments {
  padding-top: 20px;
}
