// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  h1 {
    color: white;
    font-size: 70px;
   }

  .image-container {
    background-image:url("superfoods.png"); /* The image used - important! */
    background-size: cover;
    position: relative; /* Needed to position the cutout text in the middle of the image */
    height: 700px; /* Some height */
  }

  .text {
    background-color: white;
    color: black;
    font-size: 10vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
}
