<a <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-info' %></a>
<button type="button" class="btn btn-secondary" onclick="showDiv()">My spots</button>
<button type="button" class="btn btn-success" onclick="showFollowedSpots()">Spots I'm attending</button>
